
a{
    color:black;
    font-family: 'Oswald', sans-serif;
}
.product-item-details{
    display:none;
}
.page-footer{
    padding-bottom:0px;
}
.secondFooter{
    display:block;
    background-color:#FFFFFF;
}