#slider_Image {
    width:100%;
    height:auto;
    z-index: 1;
}
.language{
    display:inline-block;
    z-index: 2;
}
.userInfo {
    display: inline-block;
    float: right;
    z-index: 2;
}
#userLogo {
    width:20px;
    height:20px;
    z-index: 2;
}
.login {
    display: inline-block;
    margin-right:10px;
    z-index: 2;
}
.cart{
    display: inline-block;
    z-index: 2;
}
.signIn , .signUp {
    color:black;
    text-decoration: none;
    z-index: 2;
}
.headerMenu{
    margin-left: 0px;
    padding: 0;
    display:inline-block;
    z-index: 2;
}
.store{
    display: inline-block;
    font-size: 50px;
    margin-left: 270px;
    margin-top: 20px;
    z-index: 2;
}
.categories{
 display:inline-block;
 float: right;
 margin-right: 280px;
 margin-top:45px;
 z-index: 2;
}
.categories_list{
    list-style: none;
    z-index: 2;
}
li{
    display:inline;
    padding: 20px;
    font-size: 20px;
    z-index: 2;
}

li img {
    width:20px;
    height: 20px;
    z-index: 2;
}

#form {
    visibility: hidden;;
    z-index: 2;
}

.search:hover #form{
    visibility: visible;
    z-index: 2;
}

