
.selectStore{
    display: inline-block;
    margin-top: 10px;
    margin-left: 50px;
}

.userArea{
    display: inline-block;
    margin-right: 60px;
    float: right;
    margin-top: 10px;
}

.loginRegistration{
    display:inline-block;
    list-style-type: none;
    margin-right:30px;
}
.createAccount{
    display:inline-block;
}
.login{
    display:inline-block;
    margin-left:5px;
}
.userCart{
    display:inline;
}
.title{
    display:inline-block;
}
.menu{
    display:inline-block;
    float:right;
}
.searchLabel{
    display:block;
}
.displayTitle{
    display: block;
    margin-left: 370px;
    margin-top: 45px;
}
.menu{
    display:block;
}
.MenuList{
    display:inline;
    list-style-type: none;
}
.MenuListItem{
    display:inline;
    margin-left:10px;
    margin-right:20px;
    font-family: 'Oswald', sans-serif;
}
.MenuDisplay{
    display:block;
    margin-right: 70px;
    margin-top: 40px;
}
.searchArea{
    margin-left: 365px;
    margin-top: 20px;
    margin-right:315px;
    display:flex;
    border-color: #000000;
    border-style: solid;
    border-width:1px;
}
.topSearch{
    border:none;
}
#topButton{
    border-width: 3px;
    border-color: #000000;
    background-color: white;
    margin-left: 0px;
}
/*.TitlePage{
    position:relative;
}
.MenuList{
    display:inline;
}
.TitlePage{
    display: inline-block;
    font-size:50px;
    margin-left:340px;
    margin-right:50px;
}
.MenuListItem{
    display:inline;
    margin-left:10px;
    margin-right:10px;
}
#searchBar{
    visibility: hidden;
    margin-top: 30px;
    height: 30px;
    width: 700px;
    margin-left: 279px;
}
#search:hover #searchBar{
    visibility: visible;
}
.firstFooter{
    display:block;
}
.linksArea{
    display:block;
}
.customerSupport{
    display:inline-block;
    margin-top:50px;
    margin-left:50px;
}
.customer_Service_Area{
    display:inline-block;
}
.customer_Service_Area_List{
    display:inline-block;
    list-style-type: none;
    text-align: center;
}
.connectArea{
    display:inline-block;
    margin-left:230px;
    margin-top:50px;
}
.connectLinks{
    display:inline-block;
}
.connect_Links_Area{
    display:inline-block;
}
.connnect_Links_Area_List{
    display:inline-block;
    list-style-type: none;
    text-align: center;
}
.socialLinks{
    float: right;
    margin-left: 350px;
    margin-top: 50px;
    display:inline-block
}
.social_Links_Area{
    display:inline-block;
}
.social_Links_Area_List{
    list-style-type: none'
}
#twitter{
    margin-left:5px;
}
#pintrest{
    margin-left:5px;
}
#insta{
    margin-left:5px;
}
#youtube{
    margin-left:5px;
}
.secondFooter{
    background:#FFFFFF;
}
.legalArea{
    display:inline-block;
    margin-left:600px;
}
.privacyCondition{
    display:inline-block;
    margiin-right:40px;
}
.privacy_Links{
    display:inline-block;
}
.privacy_Links_Area{
    display:inline-block;
    list-style-type: none;
}
.privacy_Links_Area li{
    display:inline-block;
    margin-right:10px;
}
.copyrightArea{
    display:inline-block;
    margin-left:30px;
}*/